.about-page {
	line-height: 1.5;
	max-width: 750px;
	align-self: center;
	margin: 24px 32px;

	a {
		color: var(--accent);
		text-decoration: none;

		&:hover:not(.discord-link) {
			text-decoration: underline;
		}
	}

	img {
		vertical-align: middle;
	}

	.tangent {
		color: var(--text-secondary);
	}
}

section {
	&:not(:last-child) {
		margin-bottom: 32px;
	}

	.header {
		padding: 4px 12px;
		margin-left: -12px;
		margin-bottom: 15px;
		background: var(--bg-secondary);
		display: flex;
		justify-content: space-between;

		h1 {
			font-weight: var(--weight-bold);
			font-size: var(--text-very-large);
			white-space: nowrap;
			margin: 0;
		}

		button {
			font-size: var(--text-small);
			outline: none;
			padding: 0 2px;
			background: none;
			white-space: nowrap;

			color: var(--text-secondary);
			&:hover {
				text-decoration: underline;
			}
			&:focus-visible {
				outline: 1px solid var(--accent);
			}

			@media (max-width: 400px) {
				display: none;
			}
		}
	}

	.subsection {
		&:not(:last-child) {
			margin-bottom: 24px;
		}

		.subheader {
			font-weight: var(--weight-semi-bold);
			font-size: var(--text-large);
			border-bottom: 1px solid var(--text-tertiary);
			&::marker {
				color: var(--text-secondary);
			}
		}
		&[open] .subheader {
			margin-bottom: 15px;
		}
	}

	p {
		margin: 0;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	ol,
	ul {
		margin-top: -6px;
		margin-bottom: 15px;

		li {
			margin: 7px 0;
		}
	}
}

.discord-link {
	color: var(--accent);
	text-decoration: none;

	&::before {
		content: "#";
		margin-right: 4px;
	}

	padding: 0 4px;
	background: rgb(from var(--accent) r g b / 0.1);

	&:hover {
		background: rgb(from var(--accent) r g b / 0.9);
		color: var(--bg-primary);
	}
}
