.about-page {
	line-height: 1.5;
	max-width: 750px;
	align-self: center;
	margin: var(--margin-v) var(--margin-h);

	--margin-v: 24px;
	--margin-h: 32px;
	@media (max-width: 600px) {
		--margin-v: 20px;
		--margin-h: 24px;
	}
	@media (max-width: 450px) {
		--margin-v: 16px;
		--margin-h: 16px;
	}

	a {
		color: var(--accent);
		text-decoration: none;

		&:hover:not(.discord-link) {
			text-decoration: underline;
		}
	}

	img {
		vertical-align: middle;
	}

	.tangent {
		color: var(--text-secondary);
	}
}

section {
	--large-space: 32px;
	--medium-space: 24px;
	--small-space: 14px;

	&:not(:last-child) {
		margin-bottom: var(--large-space);
	}

	.header {
		padding: 4px 12px;
		margin: 0 -12px;
		@media (max-width: 600px) {
			margin: 0 -10px;
		}
		@media (max-width: 450px) {
			margin: 0 -8px;
		}
		margin-bottom: var(--small-space);
		background: var(--bg-secondary);
		display: flex;
		justify-content: space-between;

		h1 {
			font-weight: var(--weight-bold);
			font-size: var(--text-very-large);
			white-space: nowrap;
			margin: 0;
		}

		button {
			font-size: var(--text-small);
			outline: none;
			padding: 0 2px;
			background: none;
			white-space: nowrap;

			color: var(--text-secondary);
			&:hover {
				text-decoration: underline;
			}
			&:focus-visible {
				outline: 1px solid var(--accent);
			}

			@media (max-width: 350px) {
				display: none;
			}
		}
	}

	.subsection {
		&:not(:last-child) {
			margin-bottom: var(--medium-space);
		}

		.subheader {
			font-weight: var(--weight-semi-bold);
			font-size: var(--text-semi-large);
			border-bottom: 1px solid var(--text-tertiary);
			&::marker {
				color: var(--text-secondary);
			}
		}
		&[open] .subheader {
			margin-bottom: var(--small-space);
		}
	}

	p {
		margin: 0;
		&:not(:last-child) {
			margin-bottom: var(--small-space);
		}
	}

	ol,
	ul {
		margin-top: -6px;
		margin-bottom: var(--small-space);

		li {
			margin: 7px 0;
		}
	}

	code {
		font: inherit;
		padding: 0 4px;
		background-color: var(--bg-secondary);
	}
}

.discord-link {
	color: var(--accent);
	text-decoration: none;

	&::before {
		content: "#";
		margin-right: 4px;
	}

	padding: 0 4px;
	background: rgb(from var(--accent) r g b / 0.1);

	&:hover {
		background: rgb(from var(--accent) r g b / 0.9);
		color: var(--bg-primary);
	}
}
