.data-bar-table {
	td,
	th {
		padding: var(--padding);

		--padding: 6px;
		@media (max-width: 500px) {
			--padding: 4px;
		}
	}

	th {
		cursor: default;

		&.sortable {
			display: grid;
			grid-template-columns: 1fr auto 1fr;

			&:not(.sorted) {
				cursor: pointer;

				&:is(:hover, :focus-visible) svg {
					opacity: 0.4;
				}
				&:not(:hover, :focus-visible) svg {
					display: none;
				}
			}

			&::before {
				content: "";
				justify-self: start;
			}
			div {
				justify-self: center;
			}
			svg {
				justify-self: end;
				margin-right: -4px;
				margin-left: -4px;
			}

			@media (max-width: 700px) {
				svg {
					display: none;
				}
			}
		}
	}

	.data {
		position: relative;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			left: var(--padding);
			width: 0;
			top: var(--padding);
			height: calc(100% - var(--padding) * 2);
			transition: width 0.3s ease;
			z-index: -1;
			background-color: var(--bar-color);
			opacity: 0.5;
		}

		&.sorted::before {
			width: calc(100% * var(--bar-scale) - var(--padding) * 2);
		}
	}
}
