.container {
	--legend-padding: 16px;
	/* hardcoded value large enough for most usernames */
	--legend-item-width: 134px;

	flex: 1;
	min-height: 0;
	display: grid;
	grid-template-columns: 1fr calc(
			var(--legend-item-width) +
			var(--legend-padding) *
			2
		);
	grid-template-rows: 1fr auto;
	gap: 16px;

	.chart {
		grid-column: 1;
		grid-row: 1;

		path {
			transition:
				stroke 0.2s ease,
				fill 0.2s ease;

			&.line {
				fill: none;

				stroke: var(--series-color);
				stroke-width: 2px;
				&.muted {
					stroke-width: 1px;
				}

				&.stacked {
					stroke: var(--text-secondary);
					stroke-width: 1px;
					&.muted {
						stroke-width: 0.5px;
					}
				}
			}

			&.outline {
				fill: none;
				stroke: var(--series-color);
				filter: blur(3px);

				stroke-opacity: 0.45;
				[data-is-zack="true"] & {
					stroke-opacity: 0.3;
				}

				stroke-width: 6px;
				&:not(.visible) {
					stroke-width: 0;
				}
			}

			&.area {
				fill: var(--series-color);

				fill-opacity: 0.45;
				&.muted {
					fill-opacity: 0.25;
				}
				&.highlighted {
					fill-opacity: 0.65;
				}

				[data-is-zack="false"] & {
					&:not(.highlighted) {
						fill: hsl(from var(--series-color) h calc(s + 5) calc(l + 10));
					}

					fill-opacity: 0.35;
					&.muted {
						fill-opacity: 0.15;
					}
					&.highlighted {
						fill-opacity: 0.55;
					}
				}
			}
		}

		text.label {
			fill: var(--text-primary);
			[data-is-zack="true"] & {
				fill: black;
			}
			font-size: 13px;
			text-anchor: middle;
			dominant-baseline: central;
		}

		circle {
			&.point {
				r: 3px;
				&.highlighted {
					r: 4px;
				}
				fill: var(--series-color);
			}

			&.outline {
				r: 6px;
				fill: var(--series-color);
				filter: blur(3px);

				opacity: 0.5;
				[data-is-zack="true"] & {
					opacity: 0.35;
				}

				&:not(.visible) {
					display: none;
				}
			}

			&.hovered {
				&.outer {
					r: 8px;
					fill: var(--series-color);
				}
				&.inner {
					r: 4px;
					fill: var(--bg-primary);
				}
				&:not(.visible) {
					/* cannot use `display: none`, tooltip needs to know its position */
					visibility: hidden;
				}
			}
		}
	}

	.slider {
		flex: 1;
	}

	.side-panel {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--bg-secondary);
		grid-column: 2;
		grid-row: 1 / -1;

		.legend {
			padding: var(--legend-padding);
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			overflow-x: hidden;
		}
	}

	.bottom-panel {
		background-color: var(--bg-secondary);
		display: flex;
		padding: 16px;
		align-items: center;
		gap: 60px;
		justify-content: center;
		grid-column: 1;
		grid-row: 2;

		.toggles {
			display: flex;
			gap: 12px;

			.toggle {
				font-size: var(--text-small);
			}
		}

		.slider {
			max-width: 600px;
			margin-left: 8px;
		}
	}
}

.info-box {
	padding: 6px 6px 4px 6px;
	border-radius: 4px;
	border: 2px dashed var(--series-color);
	width: fit-content;
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;

	table {
		font-size: 14.5px;
		[data-is-zack="true"] & {
			font-size: 14px; /* smaller because bold */
		}

		border-spacing: 0;

		th,
		td {
			padding: 1px 2px;
		}
		th {
			font-weight: normal;
			color: var(--text-secondary);
			&::after {
				content: " |";
			}
		}
		td {
			[data-is-zack="true"] & {
				color: var(--text-secondary);
				font-weight: bold;
			}
		}
	}

	&.tooltip {
		background-color: rgb(from var(--bg-primary) r g b / 0.7);
		width: fit-content;
		pointer-events: none;
	}

	.legend & {
		background-color: var(--bg-primary);
		width: var(--legend-item-width);

		&.highlighted {
			box-shadow: 0 0 12px var(--series-color);
			[data-is-zack="true"] & {
				box-shadow: 0 0 10px var(--series-color);
			}
		}
	}
}
