:root {
	--text-normal: 16px;
	--text-small: 14px;
	--text-mini: 12px;

	--bg-primary: #1f1d2e;
	--bg-secondary: #191724;
	--bg-tertiary: #403d52;

	--text-primary: #e0def4;
	--text-secondary: #908caa;
	--text-tertiary: rgb(from var(--text-secondary) r g b / 0.6);

	--accent: #ebbcba;

	&[data-zack-mode="true"] {
		--bg-primary: #faf4ed;
		--bg-secondary: #f2e9e1;
		--bg-tertiary: #cecacd;

		--text-primary: #575279;
		--text-secondary: #797593;
		--text-tertiary: rgb(from var(--text-secondary) r g b / 0.5);

		--accent: #eb6f92;
	}

	&[data-is-cursor-dragged="true"] {
		* {
			cursor: grabbing !important;
		}
	}

	::-webkit-scrollbar {
		width: 3px;
	}
	::-webkit-scrollbar-thumb {
		background: var(--text-tertiary);
	}
}

body {
	font-family: sans-serif;
	font-size: var(--text-normal);
	background-color: var(--bg-primary);
	color: var(--text-primary);
	margin: 0;
	height: 100vh;

	#root {
		display: flex;
		flex-direction: column;
		height: 100%;

		#main {
			display: flex;
			flex-direction: column;
			flex: 1;
			padding: 1rem;
		}
	}
}
