:root {
	--text-normal: 16px;
	--text-small: 14px;
	--text-mini: 12px;

	--bg-primary: #191724;
	--bg-secondary: #21202e;
	--bg-tertiary: #26233a;

	--text-primary: #e0def4;
	--text-secondary: #908caa;
	--text-tertiary: rgb(from var(--text-secondary) r g b / 0.5);

	--accent-primary: #31748f;
	--accent-secondary: #ebbcba;

	&[data-theme="zack"] {
		--bg-primary: #faf4ed;
		--bg-secondary: #f2e9e1;
		--bg-tertiary: #dfdad9;

		--text-primary: #575279;
		--text-secondary: #797593;

		--accent-primary: #3e8fb0;
		--accent-secondary: #eb6f92;
	}
}

body {
	font-family: sans-serif;
	font-size: var(--text-normal);
	background-color: var(--bg-primary);
	color: var(--text-primary);
	height: 100%;
	margin: 0;
}
