:root {
	--text-normal: 16px;
	--text-small: 14px;
	--text-mini: 12px;

	--bg-primary: #1f1d2e;
	--bg-secondary: #191724;
	--bg-tertiary: #403d52;

	--text-primary: #e0def4;
	--text-secondary: #908caa;
	--text-tertiary: rgb(from var(--text-secondary) r g b / 0.6);

	--accent: #ebbcba;

	&[data-zack-mode="true"] {
		--bg-primary: #faf4ed;
		--bg-secondary: #f2e9e1;
		--bg-tertiary: #cecacd;

		--text-primary: #575279;
		--text-secondary: #797593;

		--accent: #eb6f92;
	}

	&[data-is-cursor-dragged="true"] {
		* {
			cursor: grabbing !important;
		}
	}
}

body {
	font-family: sans-serif;
	font-size: var(--text-normal);
	background-color: var(--bg-primary);
	color: var(--text-primary);
	height: 100%;
	margin: 0;
}
