.container {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;

	.toggle {
		width: 40px;
		height: 20px;
		border-radius: 10px;
		display: inline-flex;
		align-items: center;
		transition: background 0.4s ease;
		background: var(--text-tertiary);

		.slider {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			transition: background 0.4s ease;

			background: var(--text-primary);
			[data-theme="zack"] & {
				background: var(--bg-primary);
			}
		}

		.dummy {
			flex: 0.1;
			transition: flex 0.4s ease;
		}

		&.isOn {
			background: var(--accent-primary);

			.dummy {
				flex: 0.9;
			}
		}
	}

	input {
		display: none;
	}
}
