.button {
	padding: 4px 8px;
	border: none;
	font: inherit;

	outline: 1px solid var(--text-secondary);
	color: var(--text-primary);
	background-color: var(--bg-primary);

	&:disabled {
		cursor: default;
		outline-color: var(--text-tertiary);
		color: var(--text-tertiary);
		background-color: var(--bg-secondary);
	}

	&:not(:disabled) {
		cursor: pointer;
		&:is(:hover, :focus-visible, .focused) {
			outline-color: var(--accent);
			[data-is-zack="true"] & {
				outline-width: 2px;
			}
		}
		&:active {
			background-color: var(--bg-secondary);
		}
	}
}
