.button {
	padding: 4px 8px;
	border: none;
	font: inherit;

	cursor: pointer;
	border: 1px solid var(--text-secondary);
	color: var(--text-primary);
	background-color: var(--bg-primary);

	&:disabled {
		cursor: default;
		border-color: var(--text-tertiary);
		color: var(--text-tertiary);
		background-color: var(--bg-secondary);
	}

	&:not(:disabled) {
		&:hover {
			border-color: var(--accent);
			background-color: var(--bg-secondary);
		}
		&:active {
			background-color: var(--bg-tertiary);
		}
	}
}
