.button {
	height: 24px;
	width: 60px;
	border: none;
	border-radius: 12px;
	font-size: var(--text-small);

	cursor: pointer;
	border: 1px solid var(--text-secondary);
	color: var(--text-primary);
	background-color: var(--bg-primary);

	&:disabled {
		cursor: default;
		border-color: var(--text-tertiary);
		color: var(--text-tertiary);
		background-color: var(--bg-secondary);
	}

	&:not(:disabled) {
		&:hover {
			border-color: var(--accent);
			background-color: var(--bg-secondary);
		}
		&:active {
			background-color: rgb(from var(--text-primary) r g b / 0.1);
		}
	}
}
