.header {
	display: flex;
	align-items: center;
	max-width: 100%;
	overflow: hidden;

	.avatar {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		margin-right: 8px;
	}

	.name {
		[data-zack-mode="true"] & {
			font-weight: bold;
			font-size: 15px; /* -1 from text-normal */
		}
	}
}
