.chart-page {
	flex: 1;
	min-height: 0;
	display: grid;
	grid-template-columns: 1fr 12px auto;
	grid-template-rows: 1fr 8px auto;
	user-select: none;

	fieldset {
		background-color: var(--bg-secondary);
		border-color: var(--text-tertiary);

		border-style: solid;
		border-width: 1px;
		padding: 0;

		legend {
			margin-left: 16px;
			font-size: var(--text-large);
			color: var(--text-secondary);
		}

		:root:not([data-is-resizing]) &:hover {
			border-color: var(--accent);
			legend {
				color: var(--accent);
			}
			[data-is-zack="true"] & {
				box-shadow: 0 0 2px var(--accent);
			}
		}
	}

	.chart {
		display: grid; /* to center the loading spinner */
		grid-column: 1;
		grid-row: 1;
	}

	.side-panel {
		grid-column: 3;
		grid-row: 1 / -1;

		display: flex;
		flex-direction: column;
		justify-content: center;

		/* fix width to prevent layout shift on load */
		--legend-padding: 16px;
		width: calc(var(--legend-width) + var(--legend-padding) * 2);

		.legend {
			padding: 6px var(--legend-padding);
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			overflow-x: hidden;
		}

		+ .legend-resizer {
			grid-row: 1 / -1;
			grid-column: 2;

			display: flex;
			justify-content: center;

			hr {
				width: 2px;
				height: 100%;
			}
			&:is(:hover, [data-is-active="true"]) > hr {
				background-color: var(--text-secondary);
			}
		}
	}

	fieldset:has(.control-panel) {
		grid-column: 1;
		grid-row: 3;
	}
	.control-panel {
		display: flex;
		padding: 10px 16px 20px 16px;
		gap: 48px;
		align-items: center;
		justify-content: space-between;

		.toggles {
			display: flex;
			gap: 16px;
		}

		.slider {
			flex: 1;
			min-width: 50px;
			max-width: 750px;
		}
	}
}

.info-box {
	padding: 6px 6px 4px 6px;
	border: 2px dashed var(--series-color);
	width: fit-content;
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;

	table {
		border-spacing: 0;

		th,
		td {
			padding: 1px 2px;
		}
		th {
			font-weight: normal;
			color: var(--text-secondary);
			&::after {
				content: " |";
			}
		}
	}

	&.tooltip {
		background-color: rgb(from var(--bg-primary) r g b / 0.7);
		width: fit-content;
		pointer-events: none;
	}

	.legend & {
		background-color: var(--bg-primary);
		width: var(--legend-width);

		&.highlighted {
			box-shadow: 0 0 10px var(--series-color);
		}
	}
}
