.chart-page {
	flex: 1;
	min-height: 0;
	display: grid;
	grid-template-columns: 1fr 12px auto;
	grid-template-rows: 1fr 8px auto;
	user-select: none;

	fieldset {
		background-color: var(--bg-secondary);
		border-style: dashed;

		border-width: 1px;
		[data-is-zack="true"] & {
			border-width: 2px;
		}

		border-color: var(--text-secondary);
		[data-is-zack="true"] & {
			border-color: var(--text-tertiary);
		}

		:root:not([data-is-resizing]) &:hover {
			border-style: solid;
			border-color: var(--accent);
			legend {
				color: var(--accent);
			}
		}

		&:not(.control-panel) {
			padding: 0;
			legend {
				margin-left: 16px;
			}
		}
	}

	.chart {
		display: grid; /* to center the loading spinner */
		grid-column: 1;
		grid-row: 1;
	}

	.side-panel {
		grid-column: 3;
		grid-row: 1 / -1;

		display: flex;
		flex-direction: column;
		justify-content: center;

		/* fix width to prevent layout shift on load */
		--legend-padding: 16px;
		width: calc(var(--legend-width) + var(--legend-padding) * 2);

		.legend {
			padding: 8px var(--legend-padding);
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			overflow-x: hidden;
		}

		+ .legend-resizer {
			grid-row: 1 / -1;
			grid-column: 2;

			display: flex;
			justify-content: center;

			> div {
				width: 2px;
				height: 100%;
			}
			&:is(:hover, [data-is-active="true"]) > div {
				background-color: var(--text-secondary);
			}
		}
	}

	.control-panel {
		display: flex;
		padding: 12px 16px 20px 16px;
		gap: 48px;
		align-items: center;
		justify-content: space-between;
		grid-column: 1;
		grid-row: 3;

		.toggles {
			display: flex;
			gap: 16px;

			.toggle {
				font-size: var(--text-small);
			}
		}

		.slider {
			flex: 1;
			min-width: 50px;
			max-width: 750px;
		}
	}
}

.info-box {
	padding: 6px 6px 4px 6px;
	border-radius: 4px;
	border: 2px dashed var(--series-color);
	width: fit-content;
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;

	table {
		font-size: 14.5px;
		[data-is-zack="true"] & {
			font-size: 14px; /* smaller because bold */
		}

		border-spacing: 0;

		th,
		td {
			padding: 1px 2px;
		}
		th {
			font-weight: normal;
			color: var(--text-secondary);
			&::after {
				content: " |";
			}
		}
		td {
			[data-is-zack="true"] & {
				color: var(--text-secondary);
				font-weight: bold;
			}
		}
	}

	&.tooltip {
		background-color: rgb(from var(--bg-primary) r g b / 0.7);
		width: fit-content;
		pointer-events: none;
	}

	.legend & {
		background-color: var(--bg-primary);
		width: var(--legend-width);

		&.highlighted {
			box-shadow: 0 0 12px var(--series-color);
			[data-is-zack="true"] & {
				box-shadow: 0 0 10px var(--series-color);
			}
		}
	}
}
