footer {
    padding: 1rem;
    font-size: var(--text-small);

    hr {
        margin-bottom: 1rem;
        border: none;
        height: 1px;
        background-color: var(--text-tertiary);
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
    }
}