.container {
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.track {
    height: 2px;
    width: 100%;
    background-color: var(--bg-tertiary);
    display: flex;

    .selected {
        background-color: var(--accent);
        height: 4px;
        align-self: center;
    }

    .thumb {
        height: 20px;
        width: 4px;
        background-color: var(--text-primary);
    }

    .limit {
        position: absolute;
        top: -7px;
        height: 16px;
        width: 3px;
        background-color: var(--bg-tertiary);

        &.from {
            left: -2px;
        }

        &.to {
            right: -2px;
        }
    }

    .label {
        cursor: default;
        position: absolute;
        top: 16px;
        font-size: var(--text-mini);
        color: var(--text-secondary);
        font-weight: bold;

        &.min {
            left: 0;
            transform: translateX(-50%);
        }

        &.max {
            right: 0;
            transform: translateX(50%);
        }
    }
}