.track {
	height: 20px;
	display: flex;
	align-items: center;

	&,
	.label {
		cursor: grab !important;
	}

	&.dragged,
	&.dragged .label {
		cursor: grabbing !important;
	}

	.bar {
		height: 3px;
		width: 100%;
		background-color: var(--text-tertiary);
		display: flex;

		.selected {
			background-color: var(--accent);
			height: 3px;
			align-self: center;
		}
	}

	.thumb {
		position: relative;
		height: 20px;
		width: 3px;
		background-color: var(--accent);
		outline: none;

		.label {
			top: 25px;
			left: 50%;
			transform: translateX(-50%);
			color: var(--accent);
			font-weight: bold;

			&.hidden {
				visibility: hidden;
			}
		}
	}

	.limit {
		position: absolute;
		height: 16px;
		background-color: var(--text-tertiary);

		&.from {
			left: -1.5px;
		}

		&.to {
			right: -1.5px;
		}
	}

	.label {
		cursor: default;
		position: absolute;
		white-space: nowrap;
		top: -16px;
		font-size: var(--text-mini);

		&.min {
			left: 0;
			transform: translateX(-50%);
		}

		&.max {
			right: 0;
			transform: translateX(50%);
		}
	}
}
