.track {
	height: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	margin: 0 1rem;

	&,
	.label {
		cursor: grab !important;
	}

	&.dragged,
	&.dragged .label {
		cursor: grabbing !important;
	}

	.bar {
		height: 2px;
		width: 100%;
		background-color: var(--bg-tertiary);
		display: flex;

		.selected {
			background-color: var(--accent);
			height: 3px;
			align-self: center;
		}
	}

	.thumb {
		position: relative;
		height: 20px;
		width: 3px;
		background-color: var(--accent);
		outline: none;

		.popup {
			top: -16px;
			left: 50%;
			transform: translateX(-50%);
			color: var(--accent);
		}
	}

	.limit {
		position: absolute;
		height: 16px;
		width: 2px;
		background-color: var(--bg-tertiary);

		&.from {
			left: -2px;
		}

		&.to {
			right: -2px;
		}
	}

	.label {
		cursor: default;
		position: absolute;
		bottom: -16px;
		font-size: var(--text-mini);
		color: var(--text-secondary);
		font-weight: bold;

		&.min {
			left: 0;
			transform: translateX(-50%);
		}

		&.max {
			right: 0;
			transform: translateX(50%);
		}
	}
}