.header {
	display: flex;
	align-items: center;
	max-width: 100%;
	overflow: hidden;
	height: 1lh;
	white-space: nowrap;

	[data-is-zack="true"] & {
		font-weight: var(--weight-semi-bold);
	}

	.avatar {
		align-self: stretch;
		margin-right: 6px;
	}
}
