.header {
	display: flex;
	align-items: center;
	max-width: 100%;
	overflow: hidden;
	height: 1lh;

	.avatar {
		align-self: stretch;
		border-radius: 50%;
		margin-right: 6px;
	}

	.name {
		font-size: 14.5px;

		[data-is-zack="true"] & {
			font-weight: bold;
			font-size: 14px;
		}
	}
}
