.header {
	display: flex;
	align-items: center;
	max-width: 100%;
	overflow: hidden;
	height: 1lh;

	font-size: var(--text-normal);
	[data-is-zack="true"] & {
		font-weight: var(--weight-semibold);
	}

	.avatar {
		align-self: stretch;
		margin-right: 6px;
	}
}
