.track {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 20px;

	[data-is-cursor-dragged="false"] & {
		&,
		.label {
			cursor: grab !important;
		}
	}

	.bar {
		background-color: var(--text-tertiary);
		display: flex;
		height: 2.5px;
		width: 100%;
		flex-direction: row;

		.pre {
			width: var(--pre);
		}
		.selected {
			background-color: var(--accent);
			align-self: center;
			height: 2.5px;
			width: var(--selected);
		}
	}

	.thumb {
		position: relative;
		background-color: var(--accent);
		outline: none;
		width: 2.5px;
		height: 18px;

		.label {
			color: var(--accent);
			font-weight: bold;
			top: 23px;
			left: 50%;
			transform: translateX(-50%);

			&.hidden {
				visibility: hidden;
			}
		}
	}

	.limit {
		position: absolute;
		background-color: var(--text-tertiary);
		z-index: -1;
		height: 13px;

		&.from {
			left: -1px;
		}
		&.to {
			right: -1px;
		}
	}

	.label {
		cursor: default;
		position: absolute;
		white-space: nowrap;
		font-size: var(--text-mini);
		top: -15px;

		&.min {
			left: 0;
			transform: translateX(-50%);
		}
		&.max {
			right: 0;
			transform: translateX(50%);
		}
	}
}
