.track {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 12px;

	[data-is-grabbing="false"] & {
		&,
		.label {
			cursor: grab !important;
		}
	}

	.bar {
		background-color: var(--text-tertiary);
		display: flex;
		height: 2px;
		width: 100%;
		flex-direction: row;

		.pre {
			height: 2px;
			width: var(--pre);
		}
		.selected {
			background-color: var(--accent);
			align-self: center;
			height: 2px;
			width: var(--selected);
		}
	}

	.thumb {
		position: relative;
		background-color: var(--accent);
		outline: none;
		width: 2px;
		height: 12px;

		.label {
			color: var(--accent);
			top: 18px;
			left: 50%;
			transform: translateX(-50%);

			&.hidden {
				visibility: hidden;
			}
		}
	}

	.limit {
		position: absolute;
		background-color: var(--text-tertiary);
		z-index: -1;
		height: 12px;

		&.from {
			left: 0px;
		}
		&.to {
			right: 0px;
		}
	}

	.label {
		cursor: default;
		position: absolute;
		white-space: nowrap;
		font-size: var(--text-small);
		color: var(--text-secondary);
		top: -20px;

		&.min {
			left: 0;
			transform: translateX(-50%);
		}
		&.max {
			right: 0;
			transform: translateX(50%);
		}
	}
}
