.container {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	user-select: none;

	.toggle {
		width: 40px;
		height: 20px;
		display: inline-flex;
		align-items: center;
		transition: background 0.3s ease;
		background: var(--text-tertiary);

		.slider {
			width: 15px;
			height: 15px;
			transition: background 0.4s ease;

			background: var(--text-primary);
			[data-is-zack="true"] & {
				background: var(--bg-primary);
			}
		}

		.dummy {
			flex: 0.1;
			transition: flex 0.3s ease;
		}

		&.isOn {
			background: #286983;
			[data-is-zack="true"] & {
				background: #3e8fb0;
			}

			.dummy {
				flex: 0.9;
			}
		}
	}

	input {
		display: none;
	}
}
