label {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	user-select: none;

	&:has(input:focus-visible) {
		outline-offset: 2px;
		outline: 1px solid var(--accent);
		[data-is-zack="true"] & {
			outline-width: 2px;
		}
	}

	.toggle {
		width: 40px;
		height: 20px;
		display: inline-flex;
		align-items: center;
		transition: background-color 0.3s ease;
		background-color: var(--text-tertiary);

		.slider {
			width: 15px;
			height: 15px;
			background-size: contain;
			transition: background-color 0.4s ease;

			background-color: var(--text-primary);
			[data-is-zack="true"] & {
				background-color: var(--bg-primary);
			}
		}

		.dummy {
			flex: 0.1;
			transition: flex 0.3s ease;
		}

		&.isOn {
			background-color: #286983;
			[data-is-zack="true"] & {
				background-color: #3e8fb0;
			}

			.dummy {
				flex: 0.9;
			}
		}
	}

	input {
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
		/* don't do `display: none` so that keyboard interaction works */
	}
}
