:root {
	--text-very-large: 22px;
	--text-large: 18px;
	--text-semi-large: 16px;
	--text-normal: 15px;
	--text-small: 13px;

	--bg-primary: #222130;
	--bg-secondary: #181622;

	--text-primary: #e0def4;
	--text-secondary: #a5a1ba;
	--text-tertiary: #69667f;

	--accent: #ebbcba;

	--weight-normal: 375;
	--weight-semi-bold: 425;
	--weight-bold: 450;

	&[data-is-zack="true"] {
		--bg-primary: #faf4ed;
		--bg-secondary: #f1e7df;

		--text-primary: #4b4667;
		--text-secondary: #797593;
		--text-tertiary: #b5afba;

		--accent: #ed688e;

		--weight-normal: 400;
		--weight-semi-bold: 475;
		--weight-bold: 550;
	}

	&[data-is-grabbing="true"] * {
		cursor: grabbing !important;
	}

	&[data-is-resizing="column"] * {
		cursor: col-resize !important;
	}
	&[data-is-resizing="row"] * {
		cursor: row-resize !important;
	}

	::-webkit-scrollbar {
		width: 3px;
	}
	::-webkit-scrollbar-thumb {
		background: var(--text-tertiary);
	}
}

body {
	font-family: "Cascadia Code", sans-serif;
	letter-spacing: -0.05ch;

	font-size: var(--text-normal);
	background-color: var(--bg-primary);
	color: var(--text-primary);
	font-weight: var(--weight-normal);

	margin: 0;

	#root {
		display: flex;
		flex-direction: column;
		min-height: 100vh;

		main {
			flex: 1;
			min-height: 0;
		}
	}
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
