.tooltip {
	padding: 8px;
	background-color: rgb(from var(--bg-primary) r g b / 0.75);
	border-radius: 4px;
	border: 2px dashed var(--series-color);
	width: fit-content;
	white-space: nowrap;

	.detail {
		margin-top: 8px;

		.label {
			margin-right: 4px;

			:root:not([data-theme="zack"]) & {
				color: var(--text-secondary);
			}
		}

		.data {
			:root[data-theme="zack"] & {
				font-weight: bold;
			}
		}

	}
}